.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

margin-bottom:20px;

}

.card h2{

margin-bottom:20px;

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

table th{

background:#2563EB;

color:white;

padding:12px;

}

table td{

padding:12px;

border-bottom:1px solid #ddd;

text-align:center;

}

.active{

background:#2563EB;

border-radius:8px;

}